.generuj{

    margin: 20px;
}

.kategorie{
    padding:20px;
}

.nazwa{

    padding: 5px;
    display: inline-block;
    width:300px;
    
}

.count{
    display: inline-block;
}

.btn-success{
    position: relative;
    left:63px;
}