.generuj{

    margin: 20px;
}

.kategorie{
    padding:20px;
}

.nazwa{

    padding: 5px;
    display: inline-block;
    width:300px;
    
}

.count{
    display: inline-block;
}

.btn-success{
    position: relative;
    left:63px;
}


.id{
    position: relative;
    display: block;
    /* top: 74px; */
    left: 210px;
}